nav{
  display:flex;
  justify-content: space-around;
  align-items:center;
  min-height:10vh;
  background:#4c5864;
  color:white;
  flex-direction:column;
  ul{
    a{
      color:white;
      text-decoration:none;
    }
    a li{
      padding:10px;
    }
  }
}

.nav-links{
  width: 250px;
  display:flex;
  justify-content: space-evenly;
  align-items:center;
  list-style:none;
  padding:0;
}

@media only screen and (min-width: 600px) {
  nav{
    flex-direction:row;
    justify-content: flex-start;
    h3{
      margin-left:20px;
    }
    
  }
}